
nav{
    position:fixed;
    width: 89%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 68px;
    background-color: #00246B;
    border-radius: 50px;
    font-family: 'Montserrat', sans-serif;
    transition: color 15s ease-in;
    
}

nav p{
    
    width: 100px;
    height: 20px;
    font-family:'Montserrat', sans-serif;
    display: inline-block;
    font-size: large;
    line-height: 10px;
    color: #f3f2f2;
    font-style: bold;
}

a{
    color: #ffffff;
    text-decoration:none;
    font-family:'Montserrat', sans-serif;
    font-size: small;
    line-height: 30px;
}

ul{
    list-style: none;
    text-align:none ;
}
nav ul{
    display:flex ;
    gap: 30px; ;
    list-style: none;
    font-weight: 30px;
}

a:hover{
    color: rgb(22, 247, 172);
}

h4{
    font-style: bold;
    font-family:'Montserrat', sans-serif;
    font-size: 50px;
    color: lightblue;
}

html{
    scroll-behavior: smooth;
}
#section1{
    height: 650px;
    background-color:#CADCFC;
    border-radius: none;
    width: 101%;
    text-align: center ;
   
}

#section2{
    height: 300px;
    background-color: #00246B;
    border-radius: none;
    width:101%;
    overflow: auto;
}

#section3{
    height:650px ;
    background-color: #CADCFC; 
    border-radius: none;
    width: 101%;
    overflow: auto;
}

#section4{
    height: 750px;
    background-color:  #00246B;
    border-radius: none;
    width:101%;
}

#section5{
    height: none;
    background-color: #CADCFC;
    border-radius: none;
    width: 101%;
}

footer{
    position:relative;
    left: 0;
    bottom: 0;
    width:101%;
    background-color:  #00246B;
    color: rgb(250, 250, 250);
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    font-size: small;
  
}

/*nav button {
    background-color: rgba(88, 88, 211, 0.842);
    position: relative;
    border: black;
    color: rgb(248, 246, 246);
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: small;
    border-radius: 30px;
}*/


h2{
    text-align: left;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
}

.circular--square{
    position:static;
    width: 200px;
    height: 200px;
    overflow: hidden;
    border-radius: 50%;
    border-color: black;
    border-style:solid;
    border-width: 5px;
    align-items: center;
}

.container input[type="radio"] {
    display:none;
}

.tab{
    display:flex;
    align-items:center;
    justify-content: center;
    height: 30px;
    width: 50px;
    font-size: .8rem;
    color:#0c0c0c;
    font-weight:500;
    border-radius: 90px;
    cursor: pointer;
    transition: color 0.15s ease-in;

}

.container input[type="radio"]:checked + label{
    color: #CADCFC;
}

.container input[id="radio-1"]:checked ~ .glider{
    transform: transaleX(0);
}

.container input[id="radio-2"]:checked ~ .glider{
    transform: translateX(100);
}

.container input[id="radio_3"] :checked ~ .glider{
    transform: translateX(500) ;
} 

.glider{
    position: absolute;
    display: flex;
    height: 30px;
    width: 80px;
    background-color: aliceblue;
    z-index: 1;
    border-radius: 99px;
    transition: 0.15s ease-out;
}
h2{
    text-align:center;
    color: #00246B;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-size: 35px;
}

p{
    text-align: center;
    color: #00246B;
    font-family: 'Anonymous Pro', monospace;
}

footer p {
    color:white;
}

.line-1{
    position: relative;
    top: 50;
    width: 24em;
    margin: 0 auto;
    border-right: 2px solid;
   
    font-size: 180%;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    transform: translateY(-40%);
}

.anim-typewriter{
    animation: typewriter 4s steps(44) 1s 1 normal both,
    blinkTextCursor 500ms steps(44)
     normal both;
}
@keyframes typewriter{
    from{width: 0;}
    to{width: 20em;}
  }
  @keyframes blinkTextCursor{
    from{border-right-color: rgba(255,255,255,.75);}
    to{border-right-color: transparent;}
  }

#section2 h2{
    color: #CADCFC;
    font-style: normal;
    font-family:'Montserrat', sans-serif;
    overflow: auto;
}
#section2 p{
    color: #CADCFC;
    font-family: 'Anonymous Pro', monospace;
    font-size: 20px;
    display: flex;
}

#section3 h2{
    color:#00246B;
    font-style: normal;
    font-family:'Montserrat', sans-serif ;
    overflow: auto;
}

#section3 p{
    color:#00246B;
    font-family:'Anonymous Pro', monospace ;
    font-size: 20px;
    display: flex;
    text-align: center;
}

#section4 h2{
    color: #CADCFC;
    font-size: normal;
    font-family:'Montserrat', sans-serif ;
    overflow:hidden;
}

#section4 p{
    color:#CADCFC;
    font-family:'Anonymous Pro', monospace ;
    font-size: 20px;
    display: flex;
    text-align: center;
}

.img-container{
    float:left;
    width: 31%;
    padding: 15px;
    border-radius: inherit;
    border: none;
    overflow: hidden;
}

.container1{
    margin:100px auto;
    width: 500px;
    text-align: left;
}


.skills p{
    font-size: 20px;
}
.container p {
    background-color: rgb(192, 192, 192); 
    width: 80%; 
    border-radius: 30px; 
    align-content: center;
    margin-left: 0.5px;
    margin-right: 1px;
    text-align: center;
}
.skill { 
    background-color: rgb(116, 194, 92); 
    color: white; 
    padding: 1%; 
    text-align: right; 
    font-size: 20px; 
    border-radius: 20px; 
    align-content: center;
} 

.html { 
    width: 90%; 
} 

.css { 
    width: 90%; 
} 

.js{
    width: 70%;
}
.sql{
    width:50%;
}
.bootstrap{
    width: 40%;
}